# 1. Scrape  the  details  of  most  viewed  videos  on  YouTube  from  Wikipedia.  Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:  A) Rank   B) Name   C) Artist   D) Upload date  E) Views

In [1]:
import selenium 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
Name = []
Artist = []
Upload_Date = []
Views = []

In [5]:
name_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name_tags:
    name_title=i.text
    Name.append(name_title)
    
artist_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist_tags:
    artist_title=i.text
    Artist.append(artist_title)
    
date_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in date_tags:
    date_title=i.text
    Upload_Date.append(date_title)
    
views_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in views_tags:
    views_title=i.text
    Views.append(views_title)

In [6]:
print(len(Name),len(Artist),len(Upload_Date),len(Views))

30 30 30 30

In [7]:
df = pd.DataFrame({'Name':Name,'Artist':Artist,'Upload_Date':Upload_Date,'Views':Views})
df

,Name,Artist,Upload_Date,Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.32,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.41,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.89,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.66,"May 2, 2018"
4,"""Shape of You""[20]",Ed Sheeran,6.23,"January 30, 2017"
5,"""See You Again""[23]",Wiz Khalifa,6.22,"April 6, 2015"
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,6.01,"May 24, 2018"
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.75,"March 6, 2014"
8,"""Uptown Funk""[30]",Mark Ronson,5.18,"November 19, 2014"
9,"""Gangnam Style""[31]",Psy,5.10,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.09,"February 27, 2018"
11,"""Dame Tu Cosita""[37]",Ultra Records,4.59,"April 5, 2018"
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,4.57,"January 31, 2012"
13,"""Axel F""[39]",Crazy Frog,4.45,"June 16, 2009"
14,"""Sugar""[40]",Maroon 5,4.02,"January 14, 2015"
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,4.01,"June 25, 2018"
16,"""Counting Stars""[42]",OneRepublic,4.00,"May 31, 2013"
17,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.98,"June 14, 2018"
18,"""Roar""[44]",Katy Perry,3.98,"September 5, 2013"
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.89,"June 4, 2010"
20,"""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015"
21,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,3.77,"May 10, 2011"
22,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.76,"January 26, 2018"
23,"""Thinking Out Loud""[49]",Ed Sheeran,3.75,"October 7, 2014"
24,"""Perfect""[50]",Ed Sheeran,3.70,"November 9, 2017"
25,"""Dark Horse""[51]",Katy Perry,3.70,"February 20, 2014"
26,"""Let Her Go""[52]",Passenger,3.64,"July 25, 2012"
27,"""Faded""[53]",Alan Walker,3.60,"December 3, 2015"
28,"""Girls Like You""[54]",Maroon 5,3.58,"May 31, 2018"
29,"""Lean On""[55]",Major Lazer Official,3.57,"March 22, 2015"

# 2.  Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:  A) Series   B) Place   C) Date   D) Time   
# Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [1]:
import selenium 
import time 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.bcci.tv/')

In [4]:
Mens=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/li/a[1]')
Mens.click()

In [5]:
Fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
Fixtures.click()

In [6]:
Series =[]
Place =[]
Date =[]
Time =[]

In [7]:
series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    series_title=i.text
    Series.append(series_title)
    
place_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place_tags:
    place_title=i.text
    Place.append(place_title)
    
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    date_title=i.text
    Date.append(date_title)
    
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    time_title=i.text
    Time.append(time_title)

In [8]:
print(len(Series),len(Place),len(Date),len(Time))

9 9 9 9

In [10]:
df = pd.DataFrame({'series':Series,'place':Place,'date':Date,'time':Time})
df

,series,place,date,time
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","6 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","9 MAY, 2024",3:30 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","5 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","9 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","12 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST

# 3.  Scrape the details of State-wise GDP of India from statisticstime.com.   Url = http://statisticstimes.com/ You have to find following details: A) Rank   B)State  C) GSDP(18-19)- at current prices   D) GSDP(19-20)- at current prices   E) Share(18-19)   F) GDP ( billion) 
# Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('http://statisticstimes.com/')

In [4]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [5]:
Rank = []
State = []
GSDP_2021_2022 = []
GSDP_2022_2023 = []
Share = []
GDP = []

In [9]:
rank_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in rank_tags:
    rank_title=i.text
    Rank.append(rank_title)
    
state_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in state_tags:
    state_title=i.text
    State.append(state_title)
    
gsdp_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in gsdp_tags:
    gsdp_title=i.text
    GSDP_2021_2022.append(gsdp_title)
    
gsdp_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[9]')
for i in gsdp_tags:
    gsdp_title=i.text
    GSDP_2022_2023.append(gsdp_title)
    
share_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in share_tags:
    share_title=i.text
    Share.append(share_title)
    
gdp_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]')
for i in gdp_tags:
    gdp_title=i.text
    GDP.append(gdp_title)

In [10]:
print(len(Rank),len(State),len(GSDP_2021_2022),len(GSDP_2022_2023),len(Share),len(GDP))

66 66 66 66 66 66

In [14]:
df = pd.DataFrame({'Rank':Rank,'State':State,'GSDP_2021_2022':GSDP_2021_2022,'GSDP_2022_2023':GSDP_2022_2023,'Share':Share,'GDP':GDP})
df.head(33)

,Rank,State,GSDP_2021_2022,GSDP_2022_2023,Share,GDP
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","1,453,321",8.78%,276.522
2,3,Karnataka,"1,978,094","1,335,052",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","1,318,027",8.37%,263.747
4,5,Gujarat,"1,928,683","1,475,629",8.17%,257.484
5,6,West Bengal,"1,329,238","839,805",5.63%,177.456
6,7,Rajasthan,"1,193,489","784,655",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","764,685",4.87%,153.324
8,9,Telangana,"1,124,204","715,157",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","622,908",4.63%,145.913
10,11,Kerala,"934,542","616,189",3.96%,124.764
11,12,Delhi,"881,336","625,981",3.73%,117.660
12,13,Haryana,"868,905","587,198",3.68%,116.001
13,14,Odisha,"662,886","464,574",2.81%,88.497
14,15,Bihar,"650,302","442,473",2.76%,86.817
15,16,Punjab,"617,192","462,053",2.62%,82.397
16,17,Assam,"411,454","300,799",1.74%,54.930
17,18,Chhattisgarh,"410,525","302,119",1.74%,54.806
18,19,Jharkhand,"358,863","259,800",1.52%,47.909
19,20,Uttarakhand,"267,143","198,341",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","129,573",0.82%,25.813
21,22,Himachal Pradesh,"172,162","133,372",0.73%,22.984
22,23,Goa,"84,266","59,867",0.36%,11.250
23,24,Tripura,"62,550","42,997",0.27%,8.351
24,25,Chandigarh,"46,096","33,879",0.20%,6.154
25,26,Puducherry,"43,810","28,849",0.19%,5.849
26,27,Meghalaya,"38,785","25,209",0.16%,5.178
27,28,Sikkim,"37,557","22,144",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","21,085",0.15%,4.643
30,31,Nagaland,"31,038","18,993",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

# 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details:  A) Repository title   B) Repository description   C) Contributors count   D) Language used   
# Note: - From the home page you have to click on the trending option from Explore menu through code.

In [1]:
import pandas as pd
import selenium 
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://github.com/')

In [4]:
OS=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
OS.click()

In [5]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [6]:
Repository_Title = []
Repository_Description = []
Contribution_Counts = []
Language_Used = []

In [7]:
repository_tags=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in repository_tags:
    repository_title=i.text
    Repository_Title.append(repository_title)
    
description_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tags:
    description_title=i.text
    Repository_Description.append(description_title)
    
count_tags=driver.find_elements(By.XPATH,'//a[2][@class="Link Link--muted d-inline-block mr-3"]')
for i in count_tags:
    count_title=i.text
    Contribution_Counts.append(count_title)
    
lenguage_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lenguage_tags:
    lenguage_title=i.text
    Language_Used.append(lenguage_title)

In [8]:
print(len(Repository_Title),len(Repository_Description),len(Contribution_Counts),len(Language_Used))

25 25 25 22

In [9]:
df=pd.DataFrame({'(Repository_Title':Repository_Title,'Repository_Description':Repository_Description,'Contribution_Counts':Contribution_Counts})
df

,(Repository_Title,Repository_Description,Contribution_Counts
0,massgravel / Microsoft-Activation-Scripts,A Windows and Office activator using HWID / Oh...,"7,480"
1,Blealtan / efficient-kan,An efficient pure-PyTorch implementation of Ko...,86
2,HVision-NKU / StoryDiffusion,Create Magic Story!,192
3,wandb / openui,OpenUI let's you describe UI using your imagin...,837
4,AtotheY / saas-landingpage,https://map.sistilli.dev/public/coding/SaaS+Bo...,39
5,VinciGit00 / Scrapegraph-ai,Python scraper based on AI,174
6,rasbt / LLMs-from-scratch,"Implementing a ChatGPT-like LLM from scratch, ...","1,404"
7,Stirling-Tools / Stirling-PDF,#1 Locally hosted web application that allows ...,"1,735"
8,xM4ddy / OFGB,GUI Tool To Removes Ads From Various Places Ar...,118
9,assafelovic / gpt-researcher,GPT based autonomous agent that does online co...,"1,171"
10,dockur / windows,Windows in a Docker container.,"1,041"
11,phidatahq / phidata,"Memory, knowledge and tools for LLMs",736
12,KindXiaoming / pykan,Kolmogorov Arnold Networks,651
13,tangzhiyao / boss-show-time,展示boss直聘岗位的发布时间,11
14,pydantic / logfire,Uncomplicated Observability for Python and bey...,31
15,lencx / ChatGPT,"🔮 ChatGPT Desktop Application (Mac, Windows an...","5,423"
16,apache / dolphinscheduler,Apache DolphinScheduler is the modern data orc...,"4,420"
17,ca110us / epeius,Deploy Trojan using a Serverless approach,264
18,commaai / openpilot,openpilot is an open source driver assistance ...,"8,590"
19,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"24,698"
20,renovatebot / renovate,Universal dependency automation tool.,"2,051"
21,DataTalksClub / llm-zoomcamp,LLM Zoomcamp - a free online course about buil...,51
22,ChatGPTNextWeb / ChatGPT-Next-Web,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,"55,467"
23,airbnb / lottie-ios,An iOS library to natively render After Effect...,"3,683"
24,StarRocks / starrocks,"StarRocks, a Linux Foundation project, is a ne...","1,615"

#  5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the following details:   A) Song name   B) Artist name   C) Last week rank   D) Peak rank   E) Weeks on board   

# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
import selenium 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('http://www.billboard.com/')

In [4]:
hot=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')
hot.click()

In [5]:
Song_Name = []
Artist_Name = []
Last_Weak_Rank = []
Peak_Rank = []
Weaks_On_Board = []

In [9]:
song_tags=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//div//ul//li//li//h3')
for i in song_tags:
    song_title=i.text
    Song_Name.append(song_title)
    
    
artist_tags=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//div//ul//ul//li[1]//span')
for i in artist_tags:
    artist_title=i.text
    Artist_Name.append(artist_title)
    
    
rank_tags=driver.find_elements(By.XPATH,'//li[4][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span[1]')
for i in rank_tags:
    rank_title=i.text
    Last_Weak_Rank.append(rank_title)
    
    
peak_tags=driver.find_elements(By.XPATH,'//li[5][@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]/span')
for i in peak_tags:
    peak_title=i.text
    Peak_Rank.append(peak_title)
    
    
weaks_tags=driver.find_elements(By.XPATH,'//li[6][@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span[1]')
for i in weaks_tags:
    weaks_title=i.text
    Weaks_On_Board.append(weaks_title)

In [10]:
print(len(Song_Name),len(Artist_Name),len(Last_Weak_Rank),len(Peak_Rank),len(Weaks_On_Board))

100 100 100 100 100

In [13]:
df=pd.DataFrame({'Song_Name':Song_Name,'Artist_Name':Artist_Name,'Last_Weak_Rank':Last_Weak_Rank,'Peak_Rank':Peak_Rank,'Weaks_On_Board':Weaks_On_Board})
df

,Song_Name,Artist_Name,Last_Weak_Rank,Peak_Rank,Weaks_On_Board
0,Fortnight,Taylor Swift Featuring Post Malone,-,1,1
1,Down Bad,Taylor Swift,-,2,1
2,I Can Do It With A Broken Heart,Taylor Swift,-,3,1
3,The Tortured Poets Department,Taylor Swift,-,4,1
4,"So Long, London",Taylor Swift,-,5,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,-,96,1
96,Wine Into Whiskey,Tucker Wetmore,84,77,5
97,Spin You Around (1/24),Morgan Wallen,89,24,13
98,Soak City,310babii,82,53,19
99,Selfish,Justin Timberlake,60,19,13

#  6. Scrape the details of Highest selling novels.   A) Book name   B) Author name   C) Volumes sold   D) Publisher   E) Genre   Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [7]:
import selenium 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [8]:
driver = webdriver.Chrome()

In [9]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [10]:
Book_Name = []
Author_Name = []
Volumes_Sold = []
Publisher = []

In [11]:
book_name_tags=driver.find_elements(By.XPATH,'//td[2][@class="left"]')
for i in book_name_tags:
    book_name_title=i.text
    Book_Name.append(book_name_title)
    

author_name_tags=driver.find_elements(By.XPATH,'//td[3][@class="left"]')
for i in author_name_tags:
    author_name_title=i.text
    Author_Name.append(author_name_title)
    
    
sold_tags=driver.find_elements(By.XPATH,'//td[4][@class="left"]')
for i in sold_tags:
    sold_title=i.text
    Volumes_Sold.append(sold_title)
    
    
publisher_tags=driver.find_elements(By.XPATH,'//td[5][@class="left"]')
for i in publisher_tags:
    publisher_title=i.text
    Publisher.append(publisher_title)

In [12]:
print(len(Book_Name),len(Author_Name),len(Volumes_Sold),len(Publisher))

100 100 100 100

In [13]:
df = pd.DataFrame({'Book_Name':Book_Name,'Author_Name':Author_Name,'Volumes_Sold':Volumes_Sold,'Publisher':Publisher})
df

,Book_Name,Author_Name,Volumes_Sold,Publisher
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

# 7. Scrape the details most watched tv series of all time from imdb.com.   Url = https://www.imdb.com/list/ls512407256/ You have to find the following details:   A) Name   B) Year span   c) Genre   D) Run time   E) Ratings   F) Votes

In [1]:
import selenium 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.imdb.com/list/ls512407256/')

In [4]:
Name = []
Year_Span = []
Genre = []
Run_Time = []
Ratings = []
Votes = []

In [5]:
name_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in name_tags:
    name_title=i.text
    Name.append(name_title)
    
    
year_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tags:
    year_title=i.text
    Year_Span.append(year_title)
    
    
genre_tags=driver.find_elements(By.XPATH,'//span[@class="certificate"]')
for i in genre_tags:
    genre_title=i.text
    Genre.append(genre_title)
    
    
run_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run_tags:
    run_title=i.text
    Run_Time.append(run_title)
    
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating_tags:
    rating_title=i.text
    Ratings.append(rating_title)
    

votes_tags=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes_tags:
    votes_title=i.text
    Votes.append(votes_title)

In [6]:
print(len(Name),len(Year_Span),len(Genre),len(Run_Time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [7]:
df=pd.DataFrame({'Name':Name,'Year_Span':Year_Span,'Genre':Genre,'Run_Time':Run_Time,'Ratings':Ratings,'Votes':Votes})
df

                    Name    Year_Span  Genre Run_Time Ratings      Votes
0        Game of Thrones  (2011–2019)  TV-MA   60 min     9.2  2,287,806
1        Stranger Things  (2016–2025)  TV-14   60 min     8.7  1,338,628
2       The Walking Dead  (2010–2022)  TV-MA   45 min     8.1  1,083,469
3         13 Reasons Why  (2017–2020)  TV-MA   60 min     7.5    315,813
4                The 100  (2014–2020)  TV-14   43 min     7.6    276,572
..                   ...          ...    ...      ...     ...        ...
95        True Detective     (2014– )  TV-MA   60 min     8.9    657,388
96             Teen Wolf  (2011–2017)  TV-14   41 min     7.7    163,412
97                The OA  (2016–2019)  TV-MA   60 min     7.8    115,995
98          The Simpsons     (1989– )  TV-14   22 min     8.7    436,347
99  Desperate Housewives  (2004–2012)  TV-14   45 min     7.6    139,913

[100 rows x 6 columns]

# 8. Details of Datasets from UCI machine learning repositories.   Url = https://archive.ics.uci.edu/  You have to find the following details:   A) Dataset name   B) Data type   C) Task   D) Attribute type   E) No of instances   F) No of attribute G) Year   
# Note: - from the home page you have to go to the Show All Dataset page through code.

In [1]:
import selenium 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://archive.ics.uci.edu/')

In [4]:
Dataset = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
Dataset.click()

In [5]:
Dataset_Name = []
Data_Type = []
Task = []
Attribute_Type = []
No_of_Instances = []
Year = []

In [6]:
datasetname_tags=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in datasetname_tags:
    datasetname_title=i.text
    Dataset_Name.append(datasetname_title)
    
datatype_tags=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]//div//div//div//div[2]//span')
for i in datatype_tags:
    datatype_title=i.text
    Data_Type.append(datatype_title)
    
task_tags=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]//div//div//div//div[1]//span')
for i in task_tags:
    task_title=i.text
    Task.append(task_title)
    
attribute_tags=driver.find_elements(By.XPATH,'//tbody[@class="border"]//td[2]')
for i in attribute_tags:
    attribute_title=i.text
    Attribute_Type.append(attribute_title)
    
instances_tags=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]//div//div//div//div[3]//span')
for i in instances_tags:
    instances_title=i.text
    No_of_Instances.append(instances_title)
    
year_tags=driver.find_elements(By.XPATH,'//tbody[@class="border"]//td[3]')
for i in year_tags:
    year_title=i.text
    Year.append(year_title)

In [7]:
print(len(Dataset_Name),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(Year))

10 10 10 10 10 10

In [8]:
df=pd.DataFrame({'Dataset_Name':Dataset_Name,'Data_Type':Data_Type,'Task':Task,'Attribute_Type':Attribute_Type,'No_of_Instances':No_of_Instances,'Year':Year})
df

,Dataset_Name,Data_Type,Task,Attribute_Type,No_of_Instances,Year
0,Iris,Tabular,Classification,Real,150 Instances,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,7/1/1988
2,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,9/14/2020
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,5/1/1996
5,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,11/1/1995
6,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8/14/2023
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,N/A